@tailwind base;

@tailwind components;

@tailwind utilities;
@layer components {
    :root {
        --vc-clr-primary: #6b0303 !important;
        --vc-clr-secondary: #974f4f !important;
        --vc-clr-white: #ffffff !important;
    }
}
